.calculator {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin: 0 auto;
}

input {
  width: 100%;
  margin-bottom: 10px;
  background-color: #7c7d8a;
  color: white;
  font-size: 24px;
  padding: 20px 0;
  border: none;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  width: 100%;
  padding: 30px;
  background-color: #e0e0e0;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}

.operation {
  background-color: #f5913e;
}

.operation:hover {
  background-color: #f5903ee8 !important;
}

.zero {
  grid-column: span 2;
}

button:hover {
  background-color: #d2d2d2;
}
